<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table cellspacing="20">
      <tr>
        <td>
          <img
            height="35%"
            src="../images/profile_pic.jpg"
            alt="Charles in Spain Shopping Model"
          />
        </td>
        <td>
          <h1>Bio:</h1>
          <p>
            Former Wall Street banker and Big-4 Management Consultant with over
            10 years of experience in product development and data analytics
            across the financial services, healthcare and insurance industries.
          </p>
          <p>
            Last year I embarked on a new journey with the goal of updating my
            skills through a Full-Stack Bootcamp located in Madrid, Spain. Since
            then I joined a large FinTech, where I head Developer Portal efforts
            as part of the Developer Experience team.
          </p>
          <p>
            Working in the Developer Ecosystem has helped me expand my
            technology awareness and gain a better appreciation for details such
            as content, documentation and web services that enable various
            applications. While my role in product management keeps me busy, it
            has equally motivated me to continue enhancing my technical skills.
          </p>
          <p>
            Check out my webpage at ... I am available for consulting,
            freelance, research and collaboration.
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
