<footer>
  <!-- <p>&copy; DEVEXPLORERS.PRO</p> -->
  <ul>
    <li class="contact-LinkedIn">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.linkedin.com/in/cshorternyc/"
        ><i class="fab fa-linkedin fa-2x"></i
      ></a>
    </li>

    <li class="contact-Twitter">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://twitter.com/Shorter_Tweets"
        ><i class="fab fa-twitter fa-2x"></i
      ></a>
    </li>
    <li class="contact-GitHub">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://github.com/cshorter-tech"
        ><i class="fab fa-github-square fa-2x"></i
      ></a>
    </li>
  </ul>
</footer>
