<footer>
  Copyright &copy; Shorter-Codes 2020
  <ul>
    <li class="contact-LinkedIn">
      <a href="http://">LinkedIn</a>
    </li>
    <li class="contact-Twitter">
      <a href="http://">Twitter</a>
    </li>
    <li class="contact-GitHub">
      <a href="http://">GitHub</a>
    </li>
  </ul>
</footer>
