<header>
  <a class="nav__logo" href="/">DEVEXPLORERS</a>
  <nav>
    <ul class="nav__links">
      <li><a href="/portfolio">PORTFOLIO</a></li>
      <li><a href="/experience">EXPERIENCE</a></li>
      <li><a href="/connect">CONNECT</a></li>
    </ul>
  </nav>
  <button>LOGIN</button>
</header>
