<nav>
  <h3>
    <a href="/">HOME</a>
  </h3>
  <h3>
    <a href="/portfolio">PORTFOLIO</a>
  </h3>
  <h3>
    <a href="/experience">EXPERIENCE</a>
  </h3>
  <h3>
    <a href="/contact">CONTACT</a>
  </h3>
</nav>
