<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connect</title>
  </head>
  <body>
    <h1>Share your feedback and connect!</h1>

    <p>Submit your feedback</p>

    <form
      autocomplete="on"
      action="mailto:cshorter.tech@gmail.com"
      method="post"
      enctype="text/plain"
    >
      <label>First Name: </label>
      <input type="text" name="firstName" required autofocus /><br />
      <label>Last Name: </label>
      <input type="text" name="lastName" required /><br />
      <label>E-mail: </label>
      <input type="email" name="email" required /><br />
      <label for="selection">Reason:</label>

      <select name="contact-reason" id="contact-reason" required>
        <option value="">--Select--</option>
        <option value="contactReason">General</option>
        <option value="contactReason">Networking</option>
        <option value="contactReason">Opportunity</option>
        <option value="contactReason">Feedback</option>
        <option value="contactReason">Collaboration</option> </select
      ><br />
      <label>Comment: </label><br />
      <textarea
        name="messageContent"
        id=""
        cols="30"
        rows="10"
        required
      ></textarea>
      <input type="submit" />
    </form>
  </body>
  <footer>
    <ul>
      <li class="contact-Twitter">
        <a href="http://">LinkedIn</a>
      </li>
      <li class="contact-LinkedIn">
        <a href="http://">Instagram</a>
      </li>
      <li class="contact-GitHub">
        <a href="http://">GitHub</a>
      </li>
    </ul>
  </footer>
</html>
