<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <!-- Rotating Introductions -->
    <div class="name__container">
      <div class="name__full" ">
        <span class="name__first-init">C</span>
        <span class="name__text">harles </span>
  
        <span class="name__first-init">S</span>
        <span class="name__text">horter</span>
      </div >
  
      <div class="name__spinner">
        <span></span>
      </div>
    </div>
    
   

    <!-- <p>TechStack - I like to code with.. MongoDB, ExpressJS, VueJS, NodeJS</p> -->
  </body>
  <%- include('./partials/footer.ejs')%>
</html>
