<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charles' Homesite</title>
  </head>
  <header>
    <!-- <h3>
        <a href="blog">BIO</a>
      </h3> -->
    <h3>
      <a href="portfolio">PORTFOLIO</a>
    </h3>
    <h3>
      <a href="experience">EXPERIENCE</a>
    </h3>
    <h3>
      <a href="contact">CONTACT</a>
    </h3>
  </header>
  <body>
    <hr />

    <!-- Rotating Introductions -->
    <p>
      Hi, I’m Charles! I am a world traveler. Ballroom dancer. FinTech expert.
      Welcome to my site.
    </p>

    <hr />

    <p>TechStack - I like to code with.. MongoDB, ExpressJS, VueJS, NodeJS</p>
    <hr />
    <button><a href="portfolio">VIEW PORTFOLIO</a></button>
    <button><a href="experience">VIEW RESUME</a></button>
    <hr />

    <p>
      Keep up to date on latest developments:
    </p>
    <form action="" method="post" autocomplete="on">
      <label for="POST-firstName">First Name: </label>
      <input
        id="POST-firstName"
        name="firstName"
        type="text"
        autofocus
        required
        minlength="1"
        maxlength="20"
      /><br />
      <label for="POST-lastName">Last Name: </label>
      <input
        id="POST-lastName"
        name="lastName"
        type="text"
        required
        minlength="1"
        maxlength="20"
      /><br />
      <label for="POST-email">Email: </label>
      <input type="email" name="email" id="POST-email" required /><br />
      <label for="POST-country">Country: </label>
      <input type="text" name="country" id="POST-email" required /><br />
      <input type="submit" value="SUBSCRIBE" />
    </form>
  </body>
</html>
