<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charles' Portfolio</title>
  </head>
  <body>
    <a href="/"><< return</a>
    <div class="tabs">
      <ul>
        <button class="software-tab">Software</button>
        <button class="analytics-tab">Analytics</button>
        <button class="publications-tab">Publications</button>
      </ul>
    </div>
    <div class="content">
      <p class="tab-content">Software projects here..</p>
    </div>
  </body>
</html>
